streamlit
pandas
googletrans==4.0.0-rc1 
python-docx
streamlit
pandas
requests
json5
streamlit-lottie
pandas-profiling==3.2.0
pdf2image
Pillow
pytesseract
fuzzywuzzy
pandas
tabulate
opencv-python-headless
openpyxl               
